{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>

        <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/main.b3331d.css' %}" media="screen" title="no title" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">

        <style type="text/css">

        #container.show {
          background: linear-gradient(200deg,#a0cfe4,#e8c37e);
        }
        </style>
    </head>
    <body>

        <div id="container" q-class="show:isCtnShow" style="height: 865px;">
          <canvas id="anm-canvas" class="anm-canvas" width="1280" height="865"></canvas>

          <div class="left-col" q-class="show:isShow">

              <div class="overlay" style="background: #4d4d4d"></div>
                <div class="intrude-less">
                    <header id="header" class="inner">
                    <a href="#" class="profilepic">
                        <img src="{% static 'images/github.png' %}" class="js-avatar">
                    </a>
                    <hgroup>
                        <h1 class="header-author"><a href="/index">Tianjigor</a></h1>
                    </hgroup>

                    <p class="header-subtitle">胆小认生，不易相处</p>


                    <nav class="header-menu">
                        <ul>

                            <li><a href="#">主页</a></li>

                            <li><a href="#">相册</a></li>

                        </ul>
                    </nav>
                    <nav class="header-smart-menu">

                      <a q-on="click: openSlider(e, &#39;innerArchive&#39;)" href="javascript:void(0)">所有文章</a>
                      <a q-on="click: openSlider(e, &#39;aboutme&#39;)" href="javascript:void(0)">关于我</a>

                    </nav>
                    <nav class="header-nav">
                        <div class="social">

                          <a class="github" target="_blank" href="https://github.com/tianjigor" title="github"><i class="large github icon"></i></a>

                          <a class="weibo" target="_blank" href="" title="wechat"><i class="large wechat icon"></i></a>

                          <a class="rss" target="_blank" href="https://www.weibo.com/sweetlifutian" title="weibo"><i class="large weibo icon"></i></a>

                        </div>
                    </nav>
                    </header>
                </div>
            </div>

          <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse">

            <nav id="mobile-nav">
              	<div class="overlay js-overlay" style="background: #4d4d4d"></div>
            	<div class="btnctn js-mobile-btnctn">
              		<div class="slider-trigger list" q-on="click: openSlider(e)"><i class="icon icon-sort"></i></div>
            	</div>
            	<div class="intrude-less">
            		<header id="header" class="inner">
            			<div class="profilepic">
            				<img src="{% static 'images/github.jpg' %}" class="js-avatar">
            			</div>
            			<hgroup>
            			  <h1 class="header-author js-header-author">Tianjigor</h1>
            			</hgroup>

            			<p class="header-subtitle"><i class="icon icon-quo-left"></i>胆小认生，不易相处<i class="icon icon-quo-right"></i></p>

                  <nav class="header-nav">
                      <div class="social">

                        <a class="github" target="_blank" href="https://github.com/tianjigor" title="github"><i class="large github icon"></i></a>

                        <a class="weibo" target="_blank" href="" title="wechat"><i class="large wechat icon"></i></a>

                        <a class="rss" target="_blank" href="https://www.weibo.com/sweetlifutian" title="weibo"><i class="large weibo icon"></i></a>

                      </div>
                  </nav>
            			<nav class="header-menu js-header-menu">
            				<ul style="width: 50%">


            					<li style="width: 50%"><a href="#">主页</a></li>

            					<li style="width: 50%"><a href="#">相册</a></li>

            				</ul>
            			</nav>
            		</header>
            	</div>
            	<div class="mobile-mask" style="display:none" q-show="isShow"></div>
            </nav>

            <div id="wrapper" class="body-wrap">
              <div class="menu-l">
                <div class="canvas-wrap">
                  <canvas data-colors="#eaeaea" data-sectionheight="100" data-contentid="js-content" id="myCanvas1" class="anm-canvas"></canvas>
                </div>
                <div id="js-content" class="content-ll">

                  <article id="post-my-fairy-tale4" class="article article-type-post " itemscope="" itemprop="blogPost">
                    <div class="article-inner">
                      <header class="article-header">
                        <h1 class="article-title" itemprop="name">
                          {{ article.title }}】
                        </h1>
                        <a href="/2017/06/05/my-fairy-tale4/" class="archive-article-date">
                        	<time datetime="2017-06-04T19:55:00.000Z" itemprop="datePublished"><i class="calendar icon"></i>{{ article.created_time.date }}</time>
                        </a>
                      </header>

                      <div class="article-entry" itemprop="articleBody">

                        {% if article.music %}
                            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id={{ article.music }}&auto=1&height=66"></iframe>
                        {% endif %}

                        {{ article.body|safe }}

                      </div>

                      <div class="article-info article-info-index">
                      	<div class="article-tag tagcloud">
                      		<i class="large tag icon"></i>
                      		<ul class="article-tag-list">
                            {% for tag in article.tags.all %}
                             <a href="javascript:void(0)" class="js-tag article-tag-list-link color3">{{ tag.name }}</a>
                            {% endfor %}
                      		</ul>
                      	</div>
                      </div>
                    </div>
                  </article>

                  <!-- Comments&Form's here -->
                  <div class="ui segment container" style="width:900px;border:none;box-shadow:none;background-color:#EAEAEA;">
                      <h3 class="ui horizontal  divider header" style="">评论</h3>
                      <div class="ui comments" style="border:none">
                          <!--这里补充评论列表代码-->
                          {% for comment in article.under_comments.all %}
                              <div class="comment">
                                  <div class="avatar">
                                      <img src="http://semantic-ui.com/images/avatar/small/matt.jpg" alt="" />
                                  </div>
                                  <div class="content">
                                      <a href="#" class="author">{{ comment.name }}</a>
                                      <div class="metadata">
                                          <div class="date">
                                              {{ comment.createtime }}
                                          </div>
                                      </div>
                                      <p class="text" style="font-family: 'Raleway', sans-serif;">
                                          {{ comment.content}}
                                      </p>
                                  </div>
                              </div>
                          {% endfor %}
                      </div>
                      <div class="ui divider"></div>
                      <form class="ui error tiny form" action="/comment/{{ article.id }}" method="post">
                          <!--这里补充评论表单代码-->
                          {% if form.errors %}
                              <div class="ui error message">
                                  {{ form.errors }}
                              </div>

                              {% for field in form %}
                                  <div class="{{ field.errors|yesno:'error, '}} field">
                                      {{ field.label }}
                                      {{ field }}
                                  </div>
                              {% endfor %}
                          {% else %}
                              {% for field in form %}
                                  <div class="field">
                                      {{ field.label }}
                                      {{ field }}
                                  </div>
                              {% endfor %}
                          {% endif %}

                          {% csrf_token %}

                          <button type="submit" class="ui red button" >Click</button>
                      </form>

                  </div>

                </div>
              </div>
            </div>

          <footer id="footer">
            <div class="outer">
              <div id="footer-info">
              	<div class="footer-left">
              		© 2017 Tianjigor
              	</div>
                	<div class="footer-right">
                		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
                	</div>
              </div>
            </div>
          </footer>

          </div>

    </body>
</html>
